<!DOCTYPE html>
<html lang="nl">
    <head>
		  <meta charset="utf-8">

	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="theme-color" content="#ffffff">
			<title>Held nodig</title>
	
			<meta name="description" content="Heb jij een hulpvraag en heb je een held nodig? Ben jij een held en help je graag? In moeilijke tijden steunen we elkaar gewoon waar dat kan!">

			<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">

	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    </head>
    <body>
	    <div class="container"><br>
		   <a href="index.php"><img src="/assets/images/logo.jpg" width="200px" /></a>
		    <br>
        {% block content %}{% endblock %}
	    </div>
    </body>
</html>
