{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-5">
			<a href="index.php">< Terug naar de homepage</a><br>
			<h1>Veelgestelde vragen</h1>
			<p>
				<strong>Hoe kom ik in contact met jullie?</strong><br>
				Op dit moment kan je HeldNodig.nl bereiken via info@doodlesoft.nl, 0642712860 en @heldnodig op Twitter. Je kan geen contact opnemen om een hulpverzoek te doen. Dit kan alleen via de website.
			</p>
			<p>
				<strong>Hoe gaan jullie om met veiligheid?</strong><br>
					Wij geloven in menselijke controle. Er gaat geen enkel hulpverzoek of antwoord door ons systemen heen zonder dat wij een handmatige review gedaan hebben op de data. Ook is voor alle inzendingen een mailverificatie nodig. Natuurlijk vang je daar niet alles mee, maar we doen ons best.<br><br>
					We maken de hulpvrager en hulpaanbieder er bij hun inzending op bewust dat ze veilig en hygiënisch werken. Denk hierbij bijvoorbeeld aan het contactloos afleveren van boodschappen, maar we doen vooral een beroep op logisch nadenken. Werk veilig, want zonder onze helden kunnen we de hulpvragen niet meer afronden.
				</p>
				<p>
					<strong>Hoe lang en waar bewaren jullie mijn data?</strong><br>
					Wij hebben geen commercieel plan met de data die via dit systeem binnenkomt. We bewaren de data totdat een hulpverzoek voldaan is, of totdat de Corona-crisis voorbij is, of uiterlijk tot 1-6-2020. Wat het eerst komt is geldig. De data staat opgeslagen bij Microsoft Azure in regio West Europa. Als hulpvrager delen we nooit je contactgegevens. Als hulpaanbieder delen we je hele inzending met de hulpvrager via een mail, zodat deze zelf via mail of telefoon contact op kan nemen.<br><br>Wil je toch dat we je data eerder wissen, mail ons dan even via info@doodlesoft.nl
				</p>
			
		</div>
	</div>
{% endblock %}