{% extends "base.html.twig" %}

{% block content %}
	<div class="row">
		<div class="col-md-4">
			<h1>Dankjewel</h1>
			<p>
				Je aanmelding. Hoe gaat het nu verder?
			</p>
			<p>
				<ol>
					<li>Je hebt een mail gekregen om je aanmelding te verifiëren.<br><strong>Klik op de link in de mail!</strong></li>
					<li>Zodra er een hulpverzoek in jouw buurt is, krijg je een mail. Dat doen we in kringen, zodat we niet in een keer duizend mensen mailen. Dus eerst bijvoorbeeld directe buren, daarna de wijk, en daarna de rest van de stad. Zo werken we efficient naar een oplossing toe.</li>
				</ul>
			</p>
			<p>
				<a href="index.php">< Terug naar de homepage</a>
			</p>
		</div>
	</div>
{% endblock %}
