{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-4">
			<h1>Dankjewel</h1>
			<p>
				Je aanbod is verzonden. Hoe gaat het nu verder?
			</p>
			<p>
				<ol>
					<li>Je hebt een mail gekregen om je aanbod te verifiëren.<br><strong>Klik op de link in de mail!</strong></li>
					<li>Je aanbod wordt bekeken en goedgekeurd door het team HeldNodig.nl</li>
					<li>Je aanbod wordt gedeeld met degene die om hulp vraagt</li>
					<li>Misschien ben je niet de enige die hulp aanbiedt. Wellicht neemt de hulpbehoevende dus geen contact op. In dat geval toch bedankt voor je aanbod!</li>
				</ul>
			</p>
			<p>
				<a href="index.php">< Terug naar de homepage</a>
			</p>
		</div>
	</div>
{% endblock %}