{% extends "base.html.twig" %}

{% block content %}
	<div class="row">
		<div class="col-md-4">
			{% if request.IsVerifiedByMail==0 %}
				<form method="post">
					<input name="verify" value="1" type="hidden" />
					<button type="submit" class="btn btn-primary mb-2">Klik hier om je hulpvraag te bevestigen</button>
				</form>
			{% else %}
				<p>Je melding is geverifieerd. Zodra wij hem bekeken hebben, komt hij online!</p>
			<p>
				<a href="index.php">< Terug naar de homepage</a>
			</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
