{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-4">
			<h1>Dankjewel</h1>
			<p>
				Je hulpverzoek is verzonden. Hoe gaat het nu verder?
			</p>
			<p>
				<ol>
					<li>Je hebt een mail gekregen om je hulpvraag te verifiëren.<br><strong>Klik op de link in de mail!</strong></li>
					<li>Je hulpvraag wordt bekeken en goedgekeurd door het team HeldNodig.nl</li>
					<li>Je hulpvraag komt op de site, en mensen kunnen hulp aanbieden</li>
					<li>Je krijgt een of meerdere helden in de mail waar jij contact mee kan opnemen!</li>
				</ul>
			</p>
			<p>
				<a href="index.php">< Terug naar de homepage</a>
			</p>
		</div>
	</div>
{% endblock %}